@page "{id}"
@using Gearwise.Models.Enums
@model Gearwise.Pages.ProductEditModel
@{
}

<h2>Edit product: @Model.Product.Name</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" value="@Model.Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Serialnumber"></label>
        <input asp-for="Product.Serialnumber" value="@Model.Product.Serialnumber" class="form-control" />
        <span asp-validation-for="Product.Serialnumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.ProductState"></label>
        <select asp-for="Product.ProductState" value="Product.ProductState" asp-items="Html.GetEnumSelectList<ProductStates>()" class="form-select"></select>
        <span asp-validation-for="Product.ProductState" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Description"></label>
        <textarea asp-for="Product.Description" value="Product.Description" class="form-control"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" value="@Model.Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>

    <fieldset class="border p-3 mt-3">
        <legend class="w-auto">Product Specificatie</legend>

        <div class="form-group">
            <label asp-for="Product.ProductSpecification.BrandId">Merk</label>
            <select asp-for="Product.ProductSpecification.BrandId" value="Product.ProductSpecification.BrandId" asp-items="Model.BrandList" class="form-select"></select>
            <span asp-validation-for="Product.ProductSpecification.BrandId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.ProductSpecification.CategoryId">Categorie</label>
            <select asp-for="Product.ProductSpecification.CategoryId" value="Product.ProductSpecification.CategoryId" asp-items="Model.CategoryList" class="form-select"></select>
            <span asp-validation-for="Product.ProductSpecification.CategoryId" class="text-danger"></span>
        </div>
    </fieldset>


    <input class="btn btn-danger mt-3" value="terug" asp-page="CreateAdvert">
    <input type="submit" class="btn btn-primary mt-3" value="Opslaan" />

</form>
