@page "id"
@model Gearwise.Pages.UpdateAdvertDetailsModel
@{
}
<h1>Edit advert : @Model.Advert.Title</h1>

<form method="post">
    <div class="form-group d-flex align-items-center">
        <label asp-for="Advert.Title"></label>
        <input asp-for="Advert.Title" class="form-control" />
    </div>
    <div class="form-group d-flex align-items-center">
        <label asp-for="Advert.BrandId" class="me-2">Merk</label>
        <select asp-for="Advert.BrandId" asp-items="Model.BrandList" class="form-select"></select>
    </div>

    <div class="form-group d-flex align-items-center">
        <label asp-for="Advert.CategoryId" class="me-2">Categorie</label>
        <select asp-for="Advert.CategoryId" asp-items="Model.CategoryList" class="form-select"></select>
    </div>
    <br />
    <h6>Disclaimer: mocht uw Merk en/of Categorie niet erbij staan vraag het de beheerder</h6>
    <hr />
    <div class="form-group d-flex align-items-center">
        <label asp-for="Advert.SellerId" class="me-2">Verkoper</label>
        <select asp-for="Advert.SellerId" asp-items="Model.SellerList" class="form-select"></select>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center">
        <label class="me-2">Product Title</label>
        <select asp-for="Advert.ProductId" asp-items="Model.ProductList" class="form-select"></select>
        <button type="submit" asp-page-handler="DeleteProduct" class="btn btn-danger me-2">❌</button>
        <button type="submit" asp-page-handler="EditProduct" class="btn btn-primary">✏️</button>

        <a asp-page="/ProductCreate" class="btn btn-outline-secondary ms-2">+</a>
    </div>
    <br />
    <h6>Disclaimer: mocht uw product niet erbij staan druk op (+) en voeg hem toe</h6>
    <hr />

    <div class="form-group">
        <label asp-for="Advert.Quantity">Aantal</label>
        <input asp-for="Advert.Quantity" type="number" class="form-control" />
    </div>

    @if (Model.Errormessage is not null)
    {
        <h2 style="color:red">@Model.Errormessage</h2>
    }

    <button type="submit" class="btn btn-primary">Opslaan</button>
    <a asp-page="/Index" class="btn btn-outline-danger">Terug</a>
</form>